@using OnlineEducationPlatform.BLL.ViewModels
@model IEnumerable<ExamReadVm>
@{
    ViewData["Title"] = "Exams";
}
<div class="container mt-5 align-content-center" style="width:1000px">
<h1>Exams</h1>



<table class="table table-hover table-bordered">
    <thead>
        
            <th>Id</th>
            <th>CourseId</th>
            <th>Title</th>
            <th>TotalMarks</th>
            <th>TotalQuestions</th>
            <th>DurationMinutes</th>
            <th>Passing Marks</th>


        
    </thead>
    <tbody>
        @foreach (var exam in Model)
        {
            <tr>
                <td>@exam.Id</td>
                <td>@exam.CourseId</td>

                <td>@exam.Title</td>
                <td>@exam.TotalMarks</td>
                <td>@exam.TotalQuestions</td>
                <td>@exam.DurationMinutes</td>
                <td>@exam.PassingMarks</td>

                <td>
                    <a asp-action="Edit" asp-route-id="@exam.Id">Edit</a> |
                    <a asp-action="ConfirmSoftDelete" asp-route-id="@exam.Id">Delete</a>
                </td>
            </tr>
        }
            <p>
                <a asp-action="Create" class="btn btn-primary">Create New Exam</a>
            </p>
    </tbody>
    </div>
